* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f8f9fa;
}

.custom {
    border: 1px solid red;
}

.container-fluid {
    padding: 0;
}

.nav-bar {
    /* border: 1px solid black; */
    display: flex;
    height: auto;
    padding: 1em;
    overflow: hidden;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    background-color: #fff;
}

.logo {
    flex: 2;
    margin: auto;
}

.logo a {
    text-decoration: none;
    color: black;
}

.logo span {
    color: #d340e0;
}

.nav-bar ul {
    list-style: none;
    /* border: 1px solid blue; */
    margin: auto;
    flex: 1;
    display: flex;
    height: auto;
    overflow: hidden;
    padding: 1em;
    /* background-color: #d340e0; */
}

.nav-bar li {
    margin: auto;
}

.nav-bar li a {
    text-transform: uppercase;
    padding: 20px;
    text-decoration: none;
    /* border: 1px solid green; */
    /* margin-left: 10px; */
    font-size: 20px;
    color: #d340e0;
    /* background-color: #d340e0; */
    border-radius: 10px;
}

.nav-bar li a:hover {
    opacity: 0.8;
    background-color: #d340e0;
    color: #fff;
}

.landing-content {
    height: 500px;
    width: 100%;
    /* border: 1px solid black; */
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}

.landing-img,
.landing-text {
    width: 100%;
    height: 500px;
    /* border: 1px solid red; */
}

.landing-img img {
    width: 100%;
    height: 100%;
}

.landing-text {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.landing-text h3 {
    /* border: 1px solid #000000; */
    margin: auto;
    text-align: center;
    line-height: 40px;
    animation-delay: 1s;
    text-transform: uppercase;
}

.landing-text a {
    text-transform: uppercase;
    margin: auto;
    background-color: #d340e0;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    width: 50%;
    text-align: center;
    animation-iteration-count: infinite;
}

.landing-text a:hover {
    opacity: 0.8;
}

.link-container {
    /* border: 1px solid blue; */
    margin: auto;
    animation-iteration-count: infinite;
}

.features {
    /* border: 1px solid red; */
    height: auto;
    padding: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.feature {
    height: 250px;
    /* border: 1px solid black; */
    width: 50%;
    padding: 1em;
    display: flex;
}

.box {
    /* border: 1px solid black; */
    height: auto;
    width: 100%;
    margin: auto;
    background-color: #fff;
    border-left: 5px solid #d340e0;
    border-right: 5px solid #d340e0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}

.box h1 {
    text-align: center;
    color: #d340e0;
}

.box p {
    padding: 1em;
    font-size: 20px;
}

.register {
    /* border: 1px solid blue; */
    height: 400px;
    margin-top: 50px;
    padding: 1em;
}

.register-box {
    width: 100%;
    height: 150px;
    /* border: 1px solid red; */
    margin-bottom: 10px;
    display: flex;
    padding: 1em;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    background-color: #fff;
    border-left: 5px solid #d340e0;
    border-right: 5px solid #d340e0;
}

.reg-img {
    /* border: 1px solid black; */
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: auto;
    animation-iteration-count: infinite;
}

.reg-img img {
    width: 100%;
    height: 100%;
}

.reg-text {
    /* border: 1px solid green; */
    height: 70px;
    width: 100%;
    margin: auto;
    display: flex;
}

.reg-text h1 {
    text-align: center;
    margin: auto;
    animation-delay: 2s;
    font-weight: 100;
}

.reg-text a {
    /* background-color: #d340e0; */
    color: #d340e0;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 100;
}

.form-container {
    /* border: 1px solid black; */
    width: 70%;
    margin: auto;
    margin-top: 50px;
    padding: 1em;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}

.form-container .btn {
    background-color: #d340e0;
    color: #fff;
}

.form-container .btn:hover {
    opacity: 0.8;
}

.form-container a {
    color: #d340e0;
    text-decoration: none;
}

.form-container a:hover {
    opacity: 0.8;
}

.google {
    /* border: 1px solid black; */
    width: 30%;
    height: 50px;
    margin: auto;
    text-align: center;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}

.png {
    /* border: 1px solid blue; */
    width: 50px;
    height: 100%;
    margin: auto;
}

.png img {
    width: 100%;
    height: 100%;
}

.google label {
    /* border: 1px solid red; */
    margin: auto;
}

.mobile-ad {
    /* border: 1px solid red; */
    height: auto;
    padding: 1em;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}

.mobile-img {
    /* border: 1px solid black; */
    height: 400px;
    width: 50%;
    margin: auto;
}

.mobile-img img {
    width: 100%;
    height: 100%;
}

.google-ad {
    /* border: 1px solid black; */
    height: 400px;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.google-ad h1 {
    margin: auto;
}

.goo-img {
    width: 50%;
    height: 150px;
    /* border: 1px solid black; */
    margin: auto;
}

.goo-img img {
    width: 100%;
    height: 100%;
    animation-iteration-count: infinite;
}

.back-link {
    font-size: 17px;
    text-decoration: none;
    color: #d340e0;
}

.back-link:hover {
    opacity: 0.8;
    text-decoration: none;
}

.toggle {
    padding: 10x;
    width: 70px;
    height: 70px;
    font-size: 30px;
    background-color: #d340e0;
    color: #fff;
    border: none;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    opacity: 0.8;
    outline: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}

.toggle:hover {
    opacity: 1;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-body {
    background-color: #555;
}

.cal {
    color: #fff;
}

.links-item {
    color: #fff;
}

.how-it-works {
    /* border: 1px solid red; */
    height: auto;
    /* padding: 1em; */
}

.item {
    height: 500px;
    width: 100%;
    margin: auto;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.item h1,
.item p {
    margin: auto;
}

.item h1 {
    margin-bottom: 10px;
}

.item p {
    margin-top: 0;
    font-size: 20px;
}

.one {
    /* border: 1px solid green; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, .8)), url("../img/educ_1.jpg");
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.two {
    /* border: pink; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, .8)), url("../img/educ_2.jpg");
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.three {
    /* border: red; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, .8)), url("../img/educ_3.jpg");
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    height: auto;
    /* border: 1px solid red; */
    background-color: #333;
}

.footer-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
}

.footer-box {
    /* border: 1px solid black; */
    height: auto;
    width: 500px;
    padding: 20xp;
    background-color: #333;
}

.footer-box ul {
    list-style: none;
}

.footer-box i {
    color: #d340e0;
}

.footer-box h3 {
    color: #fff;
    font-weight: bold;
}

.footer-box li {
    padding: 5px;
    font-size: 15px;
    color: #fff;
}

.social-links {
    display: flex;
    justify-content: flex-start;
}

.social-links a {
    font-size: 30px;
}

.footer-date {
    /* border: 1px solid red; */
    color: #9b9b9b;
    text-align: center;
    font-family: sans-serif;
}

.footer-date {
    font-size: 20px;
}

#learn {
    color: #fff;
}

#smart {
    color: #d340e0;
}


/* about page */

.about-header {
    border: 1px solid red;
    height: 300px;
}

@media screen and (max-width:480px) {
    .logo {
        /* flex: 1; */
        font-size: 20px;
    }
    .nav-bar ul {
        flex: 2;
    }
    .nav-bar li a {
        padding: 0;
        margin: 0;
        font-size: 15px;
    }
    .landing-content {
        height: auto;
        flex-direction: column;
    }
    .landing-text {
        display: block;
        height: 240px;
    }
    .landing-text h3 {
        margin-bottom: 40px;
        line-height: initial;
        font-size: 20px;
        font-weight: 300;
    }
    .link-container {
        display: flex;
    }
    .landing-text a {
        /* margin-left: 80px; */
        margin: auto;
        padding: 10px;
    }
    .landing-img {
        height: 400px;
    }
    .features {
        width: 100%;
    }
    .feature {
        width: 100%;
        margin-bottom: 10px;
        padding: 0;
        height: 200px;
    }
    .box h1 {
        font-size: 25px;
    }
    .box p {
        font-size: 15px;
    }
    .reg-text h1 {
        font-size: 17px;
    }
    .en {
        width: 100%;
    }
    .form-container {
        width: 100%;
    }
    .google-ad {
        width: 100%;
    }
    .google-ad h1 {
        font-size: 25px;
    }
    .mobile-img {
        width: 100%;
    }
    .goo-img {
        width: 100%;
    }
    .google {
        width: 50%;
    }
    .item p {
        font-size: 15px;
    }
}

@media screen and (max-width:320px) {
    .nav-bar li a {
        padding: 10px;
        margin: 0;
        font-size: 10px;
    }
}