.nav-container {
    padding: 0;
    height: 300px;
    background-color: rgb(0, 128, 90);
    border-bottom: 0 none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}

body {
    background-color: #f8f9fa;
}

nav {
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    padding: 1em;
}

.nav-container form {
    width: 50%;
    height: 50px;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    /* padding: 1em; */
}

.search-field {
    margin: auto;
    margin-left: 10px;
}

.nav-container ul {
    width: 40%;
    height: 50px;
    /* border: 1px solid blue; */
    margin: auto;
    list-style: none;
    display: flex;
}

.nav-container li {
    margin: auto;
    padding: 10px;
}

.nav-container a {
    text-decoration: none;
    color: #ccc;
}

.dash-active {
    border-bottom: 3px solid #fff;
}

.nav-container a:hover {
    color: #fff;
    border-bottom: 3px solid #fff;
}

.user-img {
    width: 10%;
    height: 50px;
    /* border: 1px solid #fff; */
    margin: auto;
    display: flex;
}

.user-img img {
    width: 50px;
    height: 50px;
    margin: auto;
}

.user-intro {
    color: #fff;
    /* border: 1px solid black; */
    padding: 1em;
    width: 50%;
    margin: auto;
}

.user-intro h1 {
    margin-top: 0;
}

.dash-content {
    /* border: 1px solid blue; */
    width: 90%;
    height: auto;
    margin-top: -70px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content-box1,
.content-box2 {
    /* border: 1px solid black; */
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    border-bottom: 0 none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}

.content-box1 {
    width: 60%;
    padding: 1em;
    height: auto;
    margin-bottom: 30px;
}

.students {
    margin-bottom: 20px;
}

.student-icon {
    /* border: 1px solid red; */
    display: flex;
    /* justify-content: space-between; */
}

.stu-img {
    height: 100px;
    width: 100px;
    /* border: 1px solid black; */
    border-radius: 50%;
    margin-left: 5px;
}

.more {
    display: flex;
    background-color: #f3f3f3;
}

.more h1 {
    margin: auto;
}

.more a {
    text-decoration: none;
    color: rgb(0, 128, 90);
}

.stu-img img {
    width: 100%;
    height: 100%;
}

.add-btn {
    background-color: rgb(0, 128, 90);
    background-color: rgb(0, 128, 90);
}

.add-btn:hover {
    opacity: 0.8;
    background-color: rgb(0, 128, 90);
}

.content-box2 {
    width: 30%;
    padding: 1em;
    margin-bottom: 30px;
}


/* Profile page */

.profile-heading,
.back {
    color: #fff;
    /* border: 1px solid black; */
    width: 50%;
    margin: auto;
    padding: 1em;
    text-align: center;
}

.profile {
    /* border: 1px solid black; */
}

.profile form {
    /* border: 1px solid red; */
    height: auto;
    width: 60%;
    padding: 1em;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}

.prof-img {
    /* border: 1px solid green; */
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: -50px;
    border-radius: 50%;
}

.prof-img img {
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}

.align {
    margin-top: 23px;
}

.all {
    /* border: 1px solid black;
    background-color: #fff; */
    /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46); */
    padding: 1em;
    width: 90%;
    height: auto;
    margin-top: -70px;
    /* flex-wrap: wrap;
     */
}

.student-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.space {
    padding: 1px;
}

.student-box {
    width: 600px;
    /* border: 1px solid black; */
    height: 150px;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    display: flex;
    background-color: #fff;
    margin-bottom: 20px;
}

.student-img {
    /* border: 1px solid black; */
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.student-img img {
    width: 100%;
    height: 100%;
}

.student-name {
    /* border: 1px solid black; */
    height: auto;
    width: 60%;
    padding: 1em;
}

.l {
    border: 1px solid black;
}

.student-detail {
    background-color: #fff;
    width: 60%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}

.thread {
    border: 1px solid red;
    height: auto;
    padding: 0;
    /* width: 90%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.thread-create,
.thread-read {
    border: 1px solid black;
    height: 400px;
    padding: 1em;
    /* border-radius: 10px; */
}

.thread-create {
    width: 40%;
}

.thread-read {
    width: 60%;
}

@media screen and (max-width:480px) {
    .nav-container {
        height: auto;
    }
    nav {
        display: block;
    }
    .nav-container form {
        width: 100%;
        /* display: block; */
    }
    .first {
        width: 50%;
        display: inline-block;
    }
    .second {
        width: 40%;
        display: inline-block;
        /* border: 1px solid yellow; */
    }
    .second button {
        width: 100%;
    }
    .search-field {
        margin: auto;
    }
    .nav-container ul {
        width: 100%;
    }
    .user-img {
        width: 30%;
    }
    .user-intro {
        width: 70%;
        margin-bottom: 20px;
    }
    .content-box1,
    .content-box2 {
        width: 100%;
    }
    .dash-content {
        margin-top: -20px;
        width: 100%;
    }
    .stu-img {
        height: 50px;
        width: 50px;
    }
    .more h1 {
        font-size: 15px;
    }
    .note h3 {
        font-size: 20px;
    }
    .content-box2 {
        height: auto;
    }
    .back {
        margin-bottom: 50px;
    }
    .profile-heading h1 {
        font-size: 20px;
    }
    .profile form {
        width: 100%;
    }
    .student-box {
        height: auto;
    }
    .push {
        margin-bottom: 10px;
    }
    .all {
        margin-top: -50px;
    }
}